
body{
  background-color: #111111;
}
 @keyframes waterWave {
          0% {
            transform: scale(1);
            opacity: 1;
          }
          50% {
            transform: scale(1.2);
            opacity: 0.5;
          }
          100% {
            transform: scale(1.5);
            opacity: 0;
          }
        }
.select-item{
transition: font-size .1s ease-out;
border-right: 0;
border-top-right-radius: 0px;
border-bottom-right-radius: 23px;
}

.buscador-movile{
transition: all .5s ease;
}
.buscador-movile:focus{
outline: none;
box-shadow: 0 0 15px #ebe5e5;
}
.buscador{
transition: all .5s ease;
}
.buscador:focus{
padding-right: 30px;
padding-left: 30px;
margin-right: 30px;
outline: none;
box-shadow: 0 0 15px #ebe5e5;
}
@keyframes rotate {
  0%{
    scale: 0;
  }
    100%{
    scale: 1;
    transform: rotate(720deg);
  }
}

@keyframes reverserotate {
  0%{
    scale: 1;
  }
    100%{
    scale: 0;
    transform: rotate(-720deg);
  }
}

.element{
   transition: all .2s ease-in-out;
  animation: rotate .9s infinite;
  animation-iteration-count: 1;
}
.noelement{
 transition: all .2s ease-in-out;
  animation:reverserotate .9s infinite;
  animation-iteration-count: 1;
}
.banner{
  transform: translateX(-200px);
  transition: all .5s ease-in-out;
}

.nobanner{
  transition: all .5s ease-in-out;
}

.title-card {
  transform: translateY(220px);
  transition: all .2s ease-in;
  cursor: pointer;
}

.title-card-move{
  transition: all .2s ease-out;
  cursor: pointer;
}

@keyframes loading{
  0%{ background-position: 200% 0;} 100%{ background-position: -200% 0;}
}

.card-animation{
  position: relative ;
background: linear-gradient(90deg,#f0f0f0 25%,#f8f8f8 50%,#f0f0f0 75%) ;
animation:loading 1.5s infinite;  
}
