@import "tailwindcss";

body{
  background-color: #111111;
}

.select-item{
transition: font-size .1s ease-out;
border-right: 0;
border-top-right-radius: 0px;
border-bottom-right-radius: 23px;
}
.buscador{
transition: all .5s ease;
}
.buscador:focus{
padding-right: 30px;
padding-left: 30px;
outline: none;
}

@keyframes rotate {
  0%{
    scale: 0;
  }
    100%{
    scale: 1;
    transform: rotate(360deg);
  }
}

@keyframes reverserotate {
  0%{
    scale: 1;
  }
    100%{
    scale: 0;
    transform: rotate(-360deg);
  }
}

.element{
  animation: rotate .7s infinite;
  animation-iteration-count: 1;
}
.noelement{
 transition: all .5s ease-in-out;
  animation:reverserotate.7s infinite;
  animation-iteration-count: 1;
  scale: 0;
}
.banner{
  transform: translateX(-200px);
  transition: all .5s ease-in-out;
}

.nobanner{
  transition: all .5s ease-in-out;
}

.title-card {
  transform: translateY(220px);
  transition: all .2s ease-in;
  cursor: pointer;
}

.title-card-move{
  transition: all .2s ease-out;
  cursor: pointer;
}